task1/target/
task1/pom.xml.tag
task1/pom.xml.releaseBackup
task1/pom.xml.versionsBackup
task1/pom.xml.next
task1/release.properties
task1/dependency-reduced-pom.xml
task1/buildNumber.properties
task1/.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
task1/.mvn/wrapper/maven-wrapper.jar

task1/.classpath
task1/.project


# task2
task2/target/
task2/pom.xml.tag
task2/pom.xml.releaseBackup
task2/pom.xml.versionsBackup
task2/pom.xml.next
task2/release.properties
task2/dependency-reduced-pom.xml
task2/buildNumber.properties
task2/.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
task2/.mvn/wrapper/maven-wrapper.jar

task2/.classpath
task2/.project